/.checkstack
/.*.ver
/.opam
/acl2
/ccl
/clion
/cvc*
/fmide
/graal
/idea
/idea-server
/idea-ultimate
/java
/opam
/sireum
/z3
/arm/.checkstack
/arm/.*.ver
/arm/.opam
/arm/acl2
/arm/ccl
/arm/clion
/arm/cvc*
/arm/fmide
/arm/graal
/arm/idea
/arm/idea-ultimate
/arm/java
/arm/opam
/arm/sireum
/arm/z3
*.cmd.jar
*.cmd.com
