/.checkstack
/.*.ver
/.opam
/acl2
/brave
/ccl
/clion
/cvc*
/fmide
/graal
/idea
/idea-server
/idea-ultimate
/isabelle
/java
/opam
/osate
/rust
/sireum
/upx
/vscodium
/z3
/arm/.checkstack
/arm/.*.ver
/arm/.opam
/arm/acl2
/arm/brave
/arm/ccl
/arm/clion
/arm/cvc*
/arm/fmide
/arm/graal
/arm/idea
/arm/idea-ultimate
/arm/isabelle
/arm/java
/arm/opam
/arm/rust
/arm/sireum
/arm/upx
/arm/vscodium
/arm/z3
*.cmd.jar
*.cmd.com
